@font-face
{
	font-family: orbitron-bold;
	src: url('orbitron-bold.otf');
}





section, footer,  header
{
	font-family:Times New Roman;
	font-size: 14pt;
	width:820px;
	margin:0 auto;
	padding:0px 0px 0px 0px;
	
}

.menu A { text-decoration:none;padding:1px 3px 1px 3px;color:black; }

.menu A:link {color: lightgreen; background:green;}
.menu A:visited {color: lightgreen; background:green;}
.menu A:active {color: lightgreen; background:green;}
.menu A:hover {color: black; background:green;}

.stopka A{ text-decoration:none;padding:1px; font-size:10pt;}
.stopka A:link {color: lightgreen; }
.stopka A:visited {color: lightgreen;}
.stopka A:active {color: lightgreen; }
.stopka A:hover {color: yellow; }

body
{
	background: #b4e391;
	background: -moz-linear-gradient(left,  #b4e391 0%, #61c419 50%, #b4e391 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
	background: -webkit-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: -o-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: -ms-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: linear-gradient(to right,  #b4e391 0%,#61c419 50%,#b4e391 100%);	
}

img.diagram_test
{
	margin:0px auto;
	display:block;
}


div.opisTestu
{
	font-size:12pt;
}

h4.nazwaTestu
{
	font-size:16pt;
	margin-bottom:5px;
	text-align:center;
}

a.runTest
{	
	/*background-color:green;*/
	color:lightgreen;
	padding:5px;
}

A.runTest:link {font-size:24pt;text-decoration: none}
A.runTest:visited {font-size:24pt;text-decoration: none}
A.runTest:active {font-size:24pt;text-decoration: none}
A.runTest:hover {font-size:24pt; text-decoration: none; color: yellow;}



canvas
{
	width:400px;
	height:300px;
	border:1px solid blue;
	background-color:white;
}
article{
	float:left;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:10px;
}

header
{
}

p.sub
{
	font-family:orbitron-bold;
	font-size: 25pt;
	margin:	0 auto;	
	padding: 0px 0px 0px 0px;
	text-align: center;
}

p.sub2
{
	font-family: Arial bold;
	font-size: 20pt;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

nav
{
	width: 230px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;	
}

p.nav1
{
	font-family:"orbitron-bold";
	color:#000000;
	text-align:center;
	border: solid 2px #888;
	background-color: #888;
}

p.nav2
{
	font-family:"orbitron-bold";
	color:#000000;
	text-align:center;
	border: solid 2px #888;
	background-color: #888;
}

section
{
	font-family: Arial;
	text-align:center;
	margin: 0 auto;
	padding: 0px,0px,0px,0px;	
	
}



footer
{
	
}

footer.podpis
{
	text-align:center;
	font-size:12px;
	
}


btn
{
	fomt-family:orbitron-bold;
}
