<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'/>

<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<script type="text/javascript" src="/static/getcookie.js"></script>
<script type="text/javascript" src="/static/getresult.js"></script>
</head>

<body>
	<header>
	<p class="sub">PROJEKT<br>CANVASTEST</p><br>
	<p class="sub2">Testowanie wydajności przeglądarek w odniesieniu do elementu canvas(HTML5).</p><br>
	</header>
	<nav>
	</nav>
	
	<section>
	<form action='/wyszukaj' method='post' name='search'>{% csrf_token %}
	{{ form.as_p }}	
	
	</form>
	<p class="nav2"><a href="#" class="runTest" onclick=GetResult(document.search)>Wyszukaj</a></p>	
	</section>
	<footer id="results">
	
	</footer>
	<footer class="podpis"><br>
		Artur Kasprzak<br/>
		Krzysztof Owsiany <br/>
	</footer>
</body>


</html>
