<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'/>

<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
	<header>
	<p class="sub"> PROJEKT<br>CANVASTEST</p> <br>
	<p class="sub2"> Testowanie wydajności przeglądarek w odniesieniu do elementu canvas(HTML5).</p> <br>
	</header>	
	<nav>
	<p class="nav1"> <a href="/testy" class="runTest" onClick='RunTests()'>Testuj</a></p>
	<p class="nav2"> <a href="/wyszukaj" class="runTest" >Mój wynik?</a></p>	
	</nav>
	
	<section>
	<img class='pie' src='/charts/browser_pie.png'/>	
	<img class='pie' src='/charts/system_pie.png'/>	
	</section>

	<footer class="podpis">
		
		Artur Kasprzak<br/>
		Krzysztof Owsiany <br/>
	</footer>
</body>


</html>
