<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'/>
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/base.js"></script>
{% for opis in opisy %}
<script type="text/javascript" src="{{opis.skrypt}}"></script>
{% endfor %}
<script type="text/javascript">
{% for opis in opisy %}
testCanvasNames.push("{{ opis.short_name }}");
{% endfor %}
</script>
<script type="text/javascript" src="/static/getcookie.js"></script>
<script type="text/javascript" src="/static/runtest.js"></script>
</head>

<body>
	<header>
	<p class="sub">PROJEKT<br>CANVASTEST</p><br>
	<p class="sub2">Testowanie wydajności przeglądarek w odniesieniu do elementu canvas(HTML5).<br>
	</header>
	<nav>
	<p class="nav1"><a href="#" class="runTest" onClick='RunTests()'>Rozpocznij test</a></p>
	<p class="nav2"><a href="/wyszukaj" class="runTest" >Mój wynik?</a></p>	
	</nav>
	
	<section>
		{% for opis in opisy %}
		<article>
			<h4 class="nazwaTestu">{{ opis.nazwa }}</h4>
			<canvas id="{{ opis.short_name }}" ></canvas><br/>
			<div class="opisTestu">{{ opis.opis }}</div>
		</article>
		{% endfor %}
	</section>
	<footer id="results">
	
	</footer>
	<footer class="podpis">
		<br/>
		Artur Kasprzak<br/>
		Krzysztof Owsiany <br/>
	</footer>
</body>


</html>
