<h2>Twój identyfikator testu:&nbsp;{{ testID }}</h2>
<h3>Data i czas testu:&nbsp;{{ wynik.czas }}</h3>
<p>System:&nbsp;{{ wynik.id_system.nazwa }},&nbsp;wersja:&nbsp;{{ wynik.id_system.wersja }}</p>
<p>Przeglądarka:&nbsp;{{ wynik.id_przegladarka.nazwa }},&nbsp;wersja:&nbsp;{{ wynik.id_przegladarka.wersja }}</p>

<table border='1'>
	<tr>
		{% for opis in opisy %}
		<th>{{ opis.nazwa }}</th>
		{% endfor %}
	<tr>
		<td>{{ wynik.id_wynik.wynik1 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik2 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik3 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik4 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik5 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik6 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik7 }}[ms]</td>
		<td>{{ wynik.id_wynik.wynik8 }}[ms]</td>		
		
	</tr>
</table>

<img class='diagram_test' src='/charts/simple.png{{ testID }}' onload="scroll(0,document.body.scrollHeight)"/>

